{% include 'header.html' %}
  
 
<!-- <div class="players">
    <form action="index.php?action=players" enctype="multipart/form-data" method="POST">
        <label for="players">Podaj liczbę graczy!!! (liczba całkowita)  </label><input type="text" name="players" class="players">
       
        <div id="lower">

            <input type="submit" value="Przejdź do wpisania graczy" class="submit">
        </div>
    </form>
</div>-->
 
<!-- <div class="players">
    <form action="index.php?action=players" enctype="multipart/form-data" method="POST">
        <label for="players">Podaj liczbę graczy!!! (liczba całkowita)  </label><input type="text" name="players" class="players">
       
        <div id="lower">

            <input type="submit" value="Zagraj w pilkarzyki" class="submit">
        </div>
    </form>
</div>-->


<div class="allPlayers">
    <form action="index.php?action=players" enctype="multipart/form-data" method="POST">
        <!--        {% for player in allPlayers %}
                <label for="players">Gracz nr {{player}} </label><input type="text" name="player{{player}}" id="player{{player}}">
                {% endfor %}-->
        <label for="players">Gracz nr 1 </label><input type="text" name="player1" class="players1">
        <label for="players">Gracz nr 2 </label><input type="text" name="player2" class="players2">
        <label for="players">Gracz nr 3 </label><input type="text" name="player3" class="players3">
        <label for="players">Gracz nr 4 </label><input type="text" name="player4" class="players4">

        <div id="lower">

            <input type="submit" value="Graj" class="submit">
        </div>
    </form>
</div>

{% include 'footer.html' %}