{% include 'header.html' %}
<div class="allPlayers">
    <form action="index.php?action=results" enctype="multipart/form-data" method="POST">
        <!--        {% for player in allPlayers %}
                <label for="players">Gracz nr {{player}} </label><input type="text" name="player{{player}}" id="player{{player}}">
                {% endfor %}-->

        <div id="lower">

            <input type="submit" value="Graj" class="submit">
        </div>
    </form>
</div>

{% include 'footer.html' %}
